name: First Workflow

on: 
  workflow_dispatch:
    inputs:
      env:
        description: "Select env value"
        required: true
        type: choice
        options:
          - production
          - staging
          - testing
        default: staging
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "Print the value of evironemet ${{ inputs.env }}"
